.tabHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    .editBtn {
        padding: 8px;
        border-radius: 100%;
        transition: background-color .1s ease-in-out;
        cursor: pointer;
        
        &:hover {
            background-color: var(--color-grey-3);
        }

        display: flex;
        place-items: center;
    }

    .text {
        font-size: 17px;
        font-weight: 600;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    margin-top: 1.2rem;
    min-height: 0;

    .avatarContainer {
        @include flex-center;
        flex-direction: column;

        &__name {
            font-weight: 600;
            font-size: 20px;
            margin-top: 8px;
        }

        &__members {
            font-size: 14px;
            color: var(--color-grey-1);
        }
    }

    .body {
        display: flex;
        flex-direction: column;

        min-height: 0;

        .membersContainer {
            overflow-y: auto;
            border-top: 1px solid rgba($color: #191816, $alpha: .2);
            padding: 10px 1.2rem;

            @include custom-scroll;
        }

        .changeTabBtn {
            @include flex-center;

            position: absolute;
            bottom: 0;
            right: 0;
            margin: 1.2rem;

            width: 3.375rem /* 54px */;
            height: 3.375rem /* 54px */;
            
            background-color: var(--color-purple);
            opacity: .95;
            border-radius: 100%;
            cursor: pointer;
            overflow: hidden;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: 1;
            }

            svg {
                object-fit: cover;
                color: #fff;
            }
        }
    }
}