.red {
    color: red;
}

.main {
    overflow-y: auto;

    margin: 10px 0;
    padding: 0 1.2rem;

    @include custom-scroll;

    .item {
        display: flex;
        align-items: center;
        gap: 20px;

        width: 100%;
        padding: 5px 15px;
        border-radius: 10px;
        transition: background-color .1s ease-in-out;

        &:hover {
            background-color: var(--color-grey-3);
        }

        .icon {
            color: var(--color-grey-1);
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: start;

            line-height: 1.5;

            // .content {
            // }

            .label {
                font-size: 14px;
                color: var(--color-grey-1);
            }
        }
    }

}