.button {
    padding: 9px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color .1s ease-in-out;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: var(--color-grey-3);
    }

    &.selected {
        background-color: var(--color-purple);

        .button__body {
            color: #fff;

            .time {
                color: #fff;
            }

            .message {
                color: #fff;
            }
        }

        .unreadBadge {
            background-color: #fff;
            color: var(--color-purple);
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;

        min-width: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .name {
            font-weight: 700;
            font-size: 16px;
            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .time {
            font-size: 14px;
            color: var(--color-grey-1);
        }
    }

    .messageBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 8px;
        min-width: 0;

        white-space: nowrap;
        overflow: hidden;
        
        .name {
            white-space: nowrap;
            flex-shrink: 0;
        }

        .message {
            color: var(--color-grey-1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            flex-grow: 1;
        }

        .unreadBadge {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background-color: var(--color-purple-2);
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            border-radius: 10px;
            user-select: none;
            line-height: 1;
        }
    }
    
}