.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1.2rem 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.25rem /* 0.25rem = 4px */;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-grey-2);
        border-radius: 30px;
    }

    &__header {
        margin: 0 1.2rem;
        margin-bottom: 1.2rem;

        .title {
            font-size: 2em;
        }
    }

    &__body {
        margin: 0 1.2rem;

        display: flex;
        flex-direction: column;
        gap: 4px;
    }

}