.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.2rem;

    position: relative;
    margin: 1.2rem;

    .avatarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__name {
            font-weight: 600;
            font-size: 20px;
        }
    }

    .body {

        &__block {
            padding: 10px 0;
            border-bottom: 1px solid rgba($color: #191816, $alpha: .2);

            &:last-child {
                border-bottom: none;
            }

            .submitButton {
                display: flex;
                position: absolute;
                bottom: 0;
                right: 0;

                cursor: pointer;
                border-radius: 100%;
                overflow: hidden;

                opacity: 0;
                transform: translateY(10px);
                pointer-events: none;
                transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.2s ease;

                &:hover {
                    opacity: 1 !important;
                }

                &.visible {
                    opacity: .95;
                    transform: translateY(0);
                    pointer-events: auto;
                }

                svg {
                    width: 3.375rem /* 54px */;
                    height: 3.375rem /* 54px */;
                    background-color: var(--color-purple);
                    color: #fff;
                }
            }
        }
    }
}