.not_msgs_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 100%;
    width: 100%;
    padding-inline: 10px;
}

.chat {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--color-grey-4);

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__header {
        max-height: 65px;
        height: 100%;
        padding: 0 1.2rem;
        border-bottom: 1px solid var(--color-black-3);
        background-color: #fff;

        display: flex;
        align-items: center;
        flex-shrink: 0;

        .info {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-grow: 1;
            gap: 12px;

            cursor: pointer;

            .content {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: 700;
                }

                .messages {
                    font-size: 14px;
                    color: var(--color-grey-1);
                }
            }
        }

        .actions {
            display: flex;
            gap: 5px;

            .btn {
                padding: 8px;
                border-radius: 100%;
                transition: background-color .1s ease-in-out;
                cursor: pointer;
                
                &:hover {
                    background-color: var(--color-grey-3);
                }

                display: flex;
                place-items: center;
            }
        }
    }

    &__body {
        overflow-y: auto;
        scrollbar-gutter: stable;

        display: flex;
        justify-content: center;
        flex-grow: 1;

        @include custom-scroll($color: var(--color-grey-1));

        .loaderContainer {
            @include flex-center;

            svg {
                width: 2rem /* 32px */;
                height: 2rem /* 32px */;
            }
        }
    }

    &__footer {
        align-self: center;
        max-width: 44rem /* 44rem = 704px */;
        width: 100%;
        background-color: #fff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 12px;
    }
}