.not_msgs_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 100%;
    padding-inline: 10px;
}

.chat {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--color-grey-4);

    display: flex;
    flex-direction: column;

    &__header {
        max-height: 65px;
        height: 100%;
        padding: 0 1.2rem;
        border-bottom: 1px solid var(--color-black-3);
        background-color: #fff;

        display: flex;
        align-items: center;

        .info {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-grow: 1;
            gap: 12px;

            .content {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: 700;
                }

                .messages {
                    font-size: 14px;
                    color: var(--color-grey-1);
                }
            }
        }

        .actions {
            display: flex;
            gap: 5px;

            .btn {
                padding: 8px;
                border-radius: 100%;
                transition: background-color .1s ease-in-out;
                cursor: pointer;
                
                &:hover {
                    background-color: var(--color-grey-3);
                }

                display: flex;
                place-items: center;
            }
        }
    }

    &__body {
        overflow-y: auto;

        display: flex;
        justify-content: center;
        flex-grow: 1;

        @include custom-scroll($color: var(--color-grey-1));
    }

    &__footer {
        max-width: 44rem /* 44rem = 704px */;
        width: 100%;
        background-color: #fff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        margin: 0 auto;
        padding: 12px;
    }
}

// .main {
//     box-sizing: border-box;
//     background-color: #F5F5F7;
//     display: flex;
//     flex-direction: column;
//     height: 100%;


//     &__header {
//         // box-shadow: 0px 8px 12px -10px rgba($color: #191816, $alpha: .15);
//         box-shadow: 0 0 12px 0 rgba($color: #191816, $alpha: .15);
//         overflow: hidden;
//         background-color: #fff;
//         max-height: 80px;
//         height: 100%;
//         padding: 0 1.8rem;

//         display: flex;
//         align-items: center;
//         gap: 16px;

//         .user_icon {
//             height: 48px;
//             width: 48px;
//         }

//         .info {
//             display: flex;
//             flex-direction: column;

//             .name {
//                 font-weight: 500;
//                 font-size: 22px;
//                 line-height: 1;
//             }
//             .messages {
//                 font-size: 14px;
//             }
//         }

//         .close_btn {
//             margin-left: auto;
//             border: none;
//             background-color: transparent;
//             padding: 0;
//             cursor: pointer;

//             svg {
//                 height: 48px;
//                 width: 48px;
//                 stroke: #30323E;
//             }
//         }
//     }

//     &__body {
//         flex-grow: 1;
//         flex-shrink: 1;
//         flex-basis: 0%;
//         overflow: auto;
//         height: 100%;

//         scrollbar-width: thin;

//         .loader_box {
//             height: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             svg {
//                 width: 35px;
//                 height: 35px;
//             }
//         }
//     }

//     &__footer {
//         padding: 15px;

//         background-color: #fff;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//     }
// }