.main {
    display: grid;
    grid-template-columns: 420px 1fr;

    height: 100vh;

    @media (max-width: 751px) {
        & {
            grid-template-columns: 1fr;
            overflow: hidden;
        }
    }

    .aside {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;

        border-right: 1px solid rgba($color: #191816, $alpha: .2);
    }

    .body {
        height: 100vh;
    }
}