.input {
    outline: none;
    border: 1px #D4D4DD solid;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 16px;
    color: #242424;
    transition: border .1s ease-in-out;

    width: stretch;

    &::placeholder {
        color: #7C8092;
    }

    &:hover {
        border: 1px var(--color-grey-1) solid;
    }

    &:focus-within {
        border-color: var(--color-purple);
    }
}