:root {
    --color-black-1: #191816;
    --color-black-2: #30323E;
    --color-grey-1: #7C8092;
    --color-grey-2: #D4D4DD;
    --color-grey-3: #E1E1E9;
    --color-purple: #646cff;
    --color-blue-1: #E5F3FE;
    --color-red-1: #FF0001;
    --color-red-2: #ffe2e2;
    --color-green-1: #00a63e;
    --color-green-2: #dcfce7;

    --text-color-1: #242424;

    --text-sm: 0.875rem;

    --shadow-md: 0 0 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}